.spinning {
    animation: spin 15s linear infinite; /* Adjust duration (5s) and timing function if needed */
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  